<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>
        日本の魚を<br>
        食べよう
      </h1>
    </div>
    <div class="col-6">
      <p>
        今の日本で海外産の魚が、主流になりつつあるため日本の漁師などの売上が低減している事が問題になっているので、このサイトを通してその場所で有名な魚を知り日本の美味しい魚を食べてもらう事で日本の経済を前以上に良くしたいと思ったからです。<br>
        実際に自分が旅行に行った際にその場所の有名な魚を食べれるお店をすぐ知る事ができず困った事があったので、都道府県ごとの名物な魚を知れてお店を知れるサービスがあれば便利だと考えました。<br>
        また旅行者だけでなく、地域の名物な魚について知りたい人の助けになると考え、このテーマにしました。<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <%= image_tag 'sasimi.jpeg', size: '500x300'%>
    </div>
    <div class="col-5">
      <%= image_tag 'fish.jpeg', size: '300x200'%>
    </div>
  </div>
</div>